@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

body{
    background-color: #fdfcfc;
}

.navbar {
    padding: 10px;
}

.navbar-brand img {
    width: 70px;
    height: auto;
    object-fit: cover;
    object-position: 0px 0px;
}

.logo {
    border: 3px solid white;
    padding: 0.5rem 1rem;
}

.navbar-expand-lg {
    background-color: #4b2713 !important;
}
/* Alt-bg-color: #681815 */

.navbar-nav > a{
    margin-left:0px;
    margin-right:10px;
    font-size: larger;
}

.bi.bi-cart{
    margin-bottom: 4px;
}

.foot{
    margin-top: auto;
    height: auto!important;
    line-height: 30px;
    background-color: #e0d6c7;
    color: #6a5748;
}

.flex-fill{
    flex: 1 1 auto;
}

.container.foot{
    display: block;
    bottom: 0;
}

.radio > label:before{
	content: "\f005";
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
}

.radio > label{
	color: #e0d6c7;
	float: right;
	cursor: pointer;
}

.radio > input:checked ~ label,
.radio:not(:checked) > label:hover, 
.radio:not(:checked) > label:hover ~ label{
	color: #4b2713;
}

.radio > input:checked + label:hover,
.radio > input:checked ~ label:hover,
.radio > label:hover ~ input:checked ~ label,
.radio > input:checked ~ label:hover ~ label{
	color: #4b2713;
}

.blockquote-footer .none {
    color: #e0d6c7;
}

.checked {
    color: #6a5748;
}